
<!doctype html>
<html>
<head>
<title>Layout</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
<link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="grid-container">
        <div class="grid-item grid-a">A</div>
        <div class="grid-item grid-b">B</div>      
        <div class="grid-item grid-c">C</div>
        <div class="grid-item grid-d">D</div>               
        <div class="grid-item grid-e">E</div>                
      </div>
<br/><br/><br/>
      <div class="flexbox-container">
        <div class="row row-1">
            <div class="flexbox-item flexbox-a">A</div>
            <div class="flexbox-item flexbox-b">B</div>      
        </div>
        <div class="row row-2">
            <div class="flexbox-item flexbox-c">C</div>
            <div class="flexbox-item flexbox-d">D</div>               
        </div>
        <div class="row row-3">
            <div class="flexbox-item flexbox-e">E</div>         
        </div>
        
        
        
      </div>
</body>
</html>